# ==============================
# LaTeX 编译生成的中间文件
# ==============================
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.blg
*.bbl
*.brf
*.idx
*.ind
*.ilg
*.glo
*.gls
*.ist
*.ps
*.dvi
*.xdv
*.ptc
*.pti

# ==============================
# 临时/备份文件
# ==============================
*.tmp
*.bak
*.swp
*.sav